body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* for the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top{
    margin: 0rem 5rem;
    margin-top: 2rem;
}

.header-top .logo-top-left{
    max-width: 150px;
    max-height: 150px;

}

.header-top .logo-top-left img{
    width: 100%;
}

.header-top .contact-top-right ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

.header-top .contact-top-right ul:hover{
    cursor: pointer;
}

/* for container 1 */
.container-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0rem 5rem;
    text-align: left;
    grid-gap: 2rem;
    min-height: 78vh;
}

.container-1 .container-1-right{
    max-width: 600px;
    max-height: 500px;
}

.container-1 .container-1-right img{
    width: 100%;
}

/* container 2 */

.edit{
    margin-top: 1rem;
}

.container-2{
    background: black;
    color: #fff;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-2 p{
    text-align: center;
}

.container-2 .container-2-wrapper{
    min-width: 10rem;
}
.container-2 .container-2-wrapper ul{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

/* container 3 */

.container-3{
    min-height: 90vh;
}

.container-3 .container-3-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    text-align: center;
}

.container-3 .container-3-top .narrow{
    max-width: 43.75rem;
    min-width: 20rem;
}

.container-3 .container-3-bottom{
    margin-top: 3rem;
}
.container-3 .container-3-bottom .container-3-box{
    /* background: red; */
    height: 20rem;
    max-width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-3 .container-3-bottom .container-3-box .box-1, .box-3{
    width: 300px;
    height: 300px;
}

.container-3 .container-3-bottom .container-3-box .box-2{
    width: 300px;
    height: 309px;
}

.container-3 .container-3-bottom .container-3-box .box-1 img, .box-2 img, .box-3 img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.container-3 .container-3-bottom .container-3-box .box-1 .middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.container-3 .container-3-bottom .container-3-box .box-1 .middle-1{
    padding: 20px;
    background: #f8f8ff;
}


.container-3 .container-3-bottom .container-3-box .box-2 .middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;        
}


.container-3 .container-3-bottom .container-3-box .box-2 .middle-1{
    padding: 20px;
    background: #f8f8ff;
}

.container-3 .container-3-bottom .container-3-box .box-3 .middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.container-3 .container-3-bottom .container-3-box .box-3 .middle-1{
    padding: 20px;
    background: #f8f8ff;
}

.container-3 .container-3-bottom .container-3-text{
    text-align: center;
}


.container-3 .container-3-bottom .narrow{
    max-width: 800px;
    margin: auto;
}

/* container-4 */

.container-4{
    max-height: 110vh;
    background: #f8f8ff;
}

.container-4 .container-4-wrapper{
    max-width: 85%;
    min-width: 10rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-top: 3.5rem;
}

.container-4 .container-4-wrapper .container-4-left{
    max-width: 550px;
    min-width: 10rem;
    background: #fff;
}


.container-4 .container-4-wrapper .container-4-left img{
    width: 100%;
}

.container-4 .container-4-wrapper .container-4-right{
    max-width: 550px;
    min-width: 10rem;
    background: #fff
}


.container-4 .container-4-wrapper .container-4-right img{
    width: 100%;
}

.container-4 .container-4-wrapper .container-4-left .container-4-texts{
    padding: 1rem .9rem;
}

.container-4 .container-4-wrapper .container-4-right .container-4-texts{
    padding: 1rem .9rem;
}

.purchase-border{
    background: #76d588;
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-size: clamp(.5rem, 10vw,1.5rem);
    font-weight: 600;
    margin: 1rem 0;
}

.purchase-border:hover{
    background: rgba(118, 213, 136, .9);
    cursor: pointer;
}

/* container 5 */

.container-5{
    max-height: 70vh;
}

.container-5 .container-5-wrapper{
    max-width: 85%;
    min-width: 10rem;
    margin: auto;
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.container-5 .container-5-wrapper .container-5-picture img{
    width: 100%;
}

/* container 6 */
.container-6{
    max-height: 50vh;
    min-width: 10rem;
    min-height: 30rem;
    background: #f8f8ff;
    padding-top: 2rem;
}
.container-6 .container-6-top{
    text-align: center;
}

.container-6 .container-6-bottom{
    max-width: 98vw;
    min-width: 10rem;
    overflow: hidden;
    position: relative;
}

.container-6-bottom::before, .container-6-bottom::after{
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: '';
    z-index: 1;
}

.container-6-bottom::before{
    left: 0;
    background: linear-gradient(to right, #fff 0%, transparent 100%);
}

.container-6-bottom::after{
    right: 0;
    background: linear-gradient(to left, #fff 0%, transparent 100%);    
}



.marquee-content{
    display: flex;
    gap: 3rem;
    /* animation */
    animation: scrolling 30s linear infinite;
}
/* animation beginning */
@keyframes scrolling {
    0%{transform: translate(0vw);}
    100%{transform: translate(calc(-1*26vw*9));}
}

.marquee-content:hover{
    animation-play-state:paused;
}
/* animation end */
.marquee-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    max-width: 26vw;
    list-style: none;
    background: #fff;
    padding: 1rem;
    white-space:wrap;
}

/* container 7 */

.container-7{
    background: rgba(0, 128, 0, .7);
    height: 30vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.container-7::before{
    position: absolute;
    min-width: 60vw;
    min-height: 100%;
    top: 0;
    left: 0;
    content: '';
    background: linear-gradient(to right, #000 0%, transparent 100%);
    z-index: 1;
}

.text-index-2{
    height: 100%;
    padding-top: 2rem;
    position: absolute;
    z-index: 2;
    text-align: center;

}

.sign-up{
    padding: 1rem;
    color: #000;
    font-size: clamp(.8rem, 10vw,1.3rem);
    font-weight: bold;
}

/* container 8 */

.container-8{
    height: 10vh;
    background: #000;
    color: #fff;
}

.container-8-wrapper{
    max-width: 90vw;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-8-wrapper .container-8-right i{
        margin-left: 1rem;
}








/* texts */

.text-xl{
    font-size: clamp(1rem, 10vw,3.5rem);
    font-weight: 600;
}

.text-x{
    
    font-size: clamp(1rem, 10vw,1rem);
    font-weight: 600;
}


.orange{
    color: rgb(229, 83, 23);;
}

.text-l{
    font-size: clamp(1rem, 10vw,1.9rem);
    font-weight: 900;   
}

.text-md{
    
    font-size: clamp(1rem, 10vw,1.7rem);
    font-weight: lighter;
}

.text-sm{
    font-size: clamp(1rem, 10vw,1.1rem);
    font-weight: lighter;
}

.bold{
    font-weight: bold;
}

.custom{
    color: green;
    font-weight: bold;
}


@media(max-width: 960px){
 
}


@media(max-width:700px){
       
.text-xl{
    font-size:1.5rem;
    font-weight: 600;
}

.text-x{
    
    font-size:1rem;
    font-weight: 600;
}


.text-l{
    font-size: .9rem;
    font-weight: 900;   
}

.text-md{
    
    font-size: .7rem;
    font-weight: lighter;
}

.text-sm{
    font-size: .5rem;
    font-weight: lighter;
}

.sign-up{
    font-size: 1rem;
}

.marquee-box{
    font-size: .7rem;
}

.purchase-border{
    font-size: 1rem;
}

.narrow{
    font-size: .8rem;
}

.header-top .contact-top-right ul{
    font-size: .6rem;
}

.middle{
    font-size: .7rem;
}

.container-3-box{
    display: flex;
    gap: 2rem;
}

.container-7{
    height: 20vh;
}
}